In [ ]:
import pandas as pd
import numpy as np

# Getting the data

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/fabricio21x/introduction-to-ml/main/datasets/pokemon_with_stats.csv")

# Performing Exploratory Data Analysis (EDA)

In [ ]:
#get the first 4 rows of the table
df.head(4)

In [ ]:
# sample return n rows picked randomly
df.sample(4)

In [ ]:
# show the shape of the dataframe (rows, columns)
df.shape

In [ ]:
df.columns

In [ ]:
# we can rename the columns
df.rename(columns = {
    '#': "number",
    'Name': "name", 
    'Type 1': "type_1", 
    'Type 2': "type_2", 
    'Total': "total", 
    'HP': "hp", 
    'Attack': "attack", 
    'Defense': "defense",
    'Sp. Atk': "sp_atk", 
    'Sp. Def': "sp_def", 
    'Speed': "speed", 
    'Generation': "generation", 
    'Legendary': "legendary"
}, inplace=True)

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df["attack"].mean(), df.attack.max(), df["attack"].min()

In [ ]:
df["attack"].describe()

## Cleaning the data

For example the pokemons with "Mega" have some unnecesary text at the begining, e.g. CharizardMega Charizard. Let's remove it

In [ ]:
df.loc[:,"name"] = df.loc[:,"name"].str.replace("^.*(?=Mega)", "")

In [ ]:
df.head()

Also, the "number" columns is not giving much information, let's remove it

In [ ]:
# del df["number"] => alternative way
df.drop(["number"], axis=1, inplace=True)

Let's check for null values in our data, it seems that the column "type_2" is almost 50% full of nulls

In [ ]:
df.isna().mean().round(4) * 100

In [ ]:
df["type_2"].isnull().sum()

We can fill the nulls on that column with a value that makes sense. In this case it will make a lot of sense to just duplicate the "type_1" if that pokemon doesn't have an aditional type

In [ ]:
df["type_2"].fillna(df["type_1"], inplace=True)

## Filtering and selecting

In [ ]:
df[df["attack"]>10].sample(5)

In [ ]:
# this way returns a copy of the dataframe
df[(df["legendary"]==True) & (df["generation"]==1)].head(5)

In [ ]:
# with .loc we can access the columns in-place
df.loc[(df["legendary"]==False) & (df["generation"]==1) & ((df["type_1"]=="Fire") | (df["type_1"]=="Dragon")), ["name", "attack", "defense", "type_1", "type_2"]].head()

In [ ]:
print(df.loc[1]) # retrieves complete row data from index with value 1

In [ ]:
print(df.iloc[1]) #retrieves complete row date from index 1 ; integer version of loc

- loc works on labels in the index.
- iloc works on the positions in the index (so it only takes integers).

In [ ]:
print("The unique types are:",df["type_1"].unique())
print("The number of unique types is", df["type_1"].nunique())

Strongest pokemon of each type

In [ ]:
strongest = df.sort_values(by=["total"], ascending=False) # we sort the pokemons in descending order
strongest = strongest.drop_duplicates(subset=["type_1"], keep="first") # since the rows are now sorted we can drop all the other pokemons that aren't the top 1
strongest

# Visualizing the data

Pie chart of the distribution of types

In [ ]:
df["type_1"].value_counts()*100 / df["type_1"].shape[0]